# Virtual environment
venv/
.venv/

# Environment variables
.env

# Python cache
__pycache__/
*.pyc

# Exported reports
exports/*.pdf
exports/*.md

# IDE files
.vscode/
.idea/

# macOS
.DS_Store

# History
.history